:host {
  &[data-size='sm'] .edit-panel {
    width: 580px;
  }

  &[data-size='md'] .edit-panel {
    width: 820px;
  }

  &[data-size='lg'] .edit-panel {
    width: 1520px;
  }
}

// core
$secondary:                            #6c757d;

// edit-panel
$edit-panel-background-color:          #fff;
$edit-panel-footer-hr:                 #dee2e6;



.edit-panel-backdrop {
  position: fixed;
  z-index: 104;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.edit-panel {
  position:         fixed;
  z-index:          105;
  top:              0;
  right:            0;
  overflow:         auto;
  height:           100vh;
  padding:          0 1.5rem;
  background-color: $edit-panel-background-color;
  box-shadow:       0 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.edit-panel-title {
  font-size: 2rem;
  font-weight: 300;
  position: sticky;
  z-index: 5;
  top: 0;
  min-height: calc(2rem + 1rem + 48px);
  padding: 1rem 0;
  background-color: $edit-panel-background-color;
}

.edit-panel-title.simple-title {
  // title font-height without mat-tab-label height
  min-height: calc(2rem + 1rem);
}

.edit-panel-content {
  // 100% - edit-panel-title min-height and padding - footer min-height and padding - edit-panel-hr
  max-width: 100%;
  min-height: calc(100% - 2rem - 1rem * 2 - 48px - 60px - 1rem * 2 - 0.3rem + 1px);
}

.edit-panel-content.simple-title {
  // 100% - edit-panel-title (simple-title) min-height and padding - footer min-height and padding - edit-panel-hr
  min-height: calc(100% - 2rem - 1rem * 2 - 60px - 1rem * 2 - 0.3rem + 1px);
}

.edit-panel-footer {
  position: sticky;
  z-index: 5;
  bottom: 0;
  min-height: 60px;
  padding: 1rem 0;
  background-color: $edit-panel-background-color;
}

.edit-panel-hr {
  border-top: 1px solid $edit-panel-footer-hr;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.edit-panel-subheader {
  color: $secondary;
}


@media screen and (max-width: 1000px) {
  .edit-panel {
    width: 100vw;
    height: 100vh;
  }
}
